<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionapp89290g.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/07a3b836-0813-4c05-afd4-3a7ab00358d9/resourceGroups/ODL-serverless-architecture-89290/providers/Microsoft.Web/sites/TollBoothFunctionApp89290g</ResourceId>
    <UserName>$TollBoothFunctionApp89290g</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionapp89290g.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>